<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir una carrera</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/footer.css" th:href="@{/CSS/footer.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/JS/validarFormularioCarrera.js" th:src="@{/JS/validarFormularioCarrera.js}" defer></script>
    <link rel="stylesheet" href="../static/CSS/cerrarSesion.css" th:href="@{/CSS/cerrarSesion.css}">


</head>

<body>
    <div th:replace="~{fragmentos/banner::banner}"></div>
    <nav th:replace="~{fragmentos/menu::menu}"></nav>

    <div class="container mt-5 boton">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center mb-4">Formulario</h2>
                <form class="login-form" id="formulario"
                    th:action="${carreraForm.id != 0} ? @{/carrera/editarCarrera/submit} : @{/admin/carrera/addCarrera}"
                    method="POST" th:object="${carreraForm}">
                    <div>
                        <input th:if="${carreraForm.id != 0}" type="hidden" name="id" th:field="*{id}" />
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre Circuito:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombreCircuito}"
                            required>
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Descripción:</label>
                        <input th:field="*{descripcion}" type="text" class="form-control" id="apellidos"
                            placeholder="Ingrese sus apellidos" required>
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>
                    <div class="form-group">
                        <label for="dni">Longitud por vuelta:</label>
                        <input th:field="*{longitudPorVuelta}" type="number" class="form-control" id="dni"
                            placeholder="Ingrese su DNI" required>
                        <div class="invalid-feedback">Este campo es obligatorio y no puede ser negativo.</div>
                    </div>
                    <div class="form-group">
                        <label for="salario">Localización:</label>
                        <input th:field="*{localizacion}" type="text" class="form-control" id="salario"
                            placeholder="Ingrese su salario" required>
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>
                    <div class="form-group">
                        <label for="numVueltas">Número de vueltas:</label>
                        <input th:field="*{numVueltas}" type="number" class="form-control" id="numVueltas"
                            placeholder="Diga número de vueltas" required>
                        <div class="invalid-feedback">Este campo es obligatorio y no puede ser negativo.</div>
                    </div>
                    <div class="form-group">
                        <label for="tipoAsfaltado">Estado del asfalto:</label>
                        <select class="form-control" th:field="*{tipoAsfaltado}" id="tipoAsfaltado" required>
                            <option value="nuevo">Nuevo</option>
                            <option value="viejo">Viejo</option>
                            <option value="medio">Medio</option>
                        </select>
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>
                    <div class="form-group">
                        <label for="marca">Imagen</label>
                        <input type="text" class="form-control" id="marca" name="marca" th:field="*{imagenCarrera}">
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>

</html>