<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thyleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de nuevo componente</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/JS/validarFormularioComponente.js" th:src="@{/JS/validarFormularioComponente.js}"
        defer></script>
    <link rel="stylesheet" href="../static/CSS/cerrarSesion.css" th:href="@{/CSS/cerrarSesion.css}">


</head>

<body>
    <div th:replace="~{fragmentos/banner::banner}"></div>
    <nav th:replace="~{fragmentos/menu::menu}"></nav>

    <div class="container mt-5 boton">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center mb-4">Formulario</h2>
                <form th:action="@{/componentes/editarComponente/submit}" method="POST" th:object="${componenteForm}">
                    <input th:if="${componenteForm.idComponente != 0}" type="hidden" name="id"
                        th:field="*{idComponente}" />

                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <select class="form-control" id="nombre" name="nombre" th:field="*{tipoComponente}">
                            <option value="Motor">Motor</option>
                            <option value="Alerón delantero">Alerón delantero</option>
                            <option value="Alerón trasero">Alerón trasero</option>
                            <option value="Fondo plano">Fondo plano</option>
                            <option value="Chasis">Chasis</option>
                            <option value="Discos de freno">Discos de Freno</option>
                            <option value="DRS">DRS</option>
                            <option value="Batería">Batería</option>
                            <option value="Neumáticos">Neumáticos</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="durabilidad">Durabilidad:</label>
                        <input th:field="*{durabilidad}" type="number" class="form-control" id="durabilidad"
                            placeholder="Durabilidad">
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio:</label>
                        <input th:field="*{precio}" type="number" class="form-control" id="precio"
                            placeholder="Ingrese el precio">
                    </div>

                    <div class="form-group">
                        <label for="marca">Marca:</label>
                        <input th:field="*{marca}" type="text" id="marca" name="marca" class="form-control"
                            placeholder="Marca">
                    </div>

                    <div class="form-group">
                        <label for="opcionesCarrera" class="form-label">Carrera:</label>
                        <select class="form-control" id="opcionesCarrera" th:field="*{carreraComponente.id}"
                            name="opcionesCarrera">
                            <option th:each="carrera: ${carrera}" th:value="${carrera.id}"
                                th:text="${carrera.nombreCircuito}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="opcionesCoche" class="form-label">Coche:</label>
                        <select class="form-control" id="opcionesCoche" th:field="*{cocheComponente.idCoche}"
                            name="opcionesCoche">
                            <option th:each="coche: ${listaCoches}" th:value="${coche.idCoche}"
                                th:text="${coche.nombre}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="opcionesJefe" class="form-label">Jefe Equipo:</label>
                        <select class="form-control" id="opcionesJefe" th:field="*{jefeComponente.idEmpleado}"
                            name="opcionesJefe" th:readonly="${componenteForm.idComponente != 0}">
                            <option th:each="jefe: ${jefeEquipo}" th:value="${jefe.idEmpleado}"
                                th:text="${jefe.nombre}"></option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>


    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>

</html>