<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thyleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario con Bootstrap</title>
    <!-- Agregar la referencia a Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/footer.css" th:href="@{/CSS/footer.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <div th:replace="~{fragmentos/banner::banner}"></div>
    <nav th:replace="~{fragmentos/menu::menu}"></nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center mb-4">Formulario</h2>
                <form class="login-form"
                    th:action="${componenteForm.idComponente != 0} ? @{/componentes/editarComponente/submit} : @{/componentes/addComponente}"
                    method="POST" th:object="${componenteForm}">
                    <div>
                        <input th:if="${componenteForm.idComponente != 0}" type="hidden" name="id"
                            th:field="*{idComponente}" />
                    </div>

                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{tipoComponente}">
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Durabilidad:</label>
                        <input th:field="*{durabilidad}" type="number" class="form-control" id="apellidos"
                            placeholder="Ingrese sus apellidos">
                    </div>
                    <div class="form-group">
                        <label for="dni">precio:</label>
                        <input th:field="*{precio}" type="number" class="form-control" id="dni"
                            placeholder="Ingrese su DNI">
                    </div>

                    <div class="form-group">
                        <label for="fecha">Marca:</label>
                        <input th:field="*{marca}" type="text" id="fecha" name="fecha" class="form-control"
                            placeholder="Fecha de nacimiento">
                    </div>

                    <div class="form-group">
                        <label for="opciones" class="form-label">Carrera:</label>
                        <select class="form-control" id="opciones" th:field="*{carreraComponente.id}" name="opciones">
                            <option th:each=" carrera: ${carrera}" th:value="${carrera.id}"
                                th:text="${carrera.nombreCircuito}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="opciones" class="form-label">Coche:</label>
                        <select class="form-control" id="opciones" th:field="*{cocheComponente.idCoche}"
                            name="opciones">
                            <option th:each=" coche: ${listaCoches}" th:value="${coche.idCoche}"
                                th:text="${coche.nombre}"></option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="opciones" class="form-label">Jefe Equipo:</label>
                        <select class="form-control" id="opciones" th:field="*{jefeComponente.idEmpleado}"
                            name="opciones">
                            <option th:each=" jefe: ${jefeEquipo}" th:value="${jefe.idEmpleado}"
                                th:text="${jefe.nombre}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>

</html>