<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Página</title>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../CSS/footer.css" th:href="@{/CSS/footer.css}">
    <link rel="stylesheet" href="../CSS/boton.css" th:href="@{/CSS/boton.css}">

</head>

<body>
    <div th:replace="~{fragmentos/banner::banner}"></div>
    <nav th:replace="~{fragmentos/menu::menu}"></nav>

    <div class="container mt-4 contenido">
        <form th:action="@{/componentes/buscarComponente}" method="GET">
            <input class="form-control me-2" type="search" placeholder="Buscar por nombre" aria-label="Search"
                name="busqueda">
            <button class="btn btn-outline-danger" type="submit">Buscar</button>
        </form>

        <h1>No se encuentra retrasado</h1>
        
    </div>


   
    <footer th:replace="~{fragmentos/footer::footer}">
    </footer>
    
</body>

</html>