<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Página</title>
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/boton.css" th:href="@{CSS/boton.css}">
    <script src="../JS/piloto.js" th:href="@{/JS/piloto.js}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

</head>


<body>
    <div th:replace="~{fragmentos/banner::banner}"></div>


    <nav th:replace="~{fragmentos/menu::menu}"></nav>

    <!-- Contenido de la página -->
    <div class="container mt-4 contenido">
        <div class="row justify-content-center">
            <div class="col-md-4" th:each=" piloto: ${listaPilotos}">
                <div class="card text-center">
                    <img src="../Imagenes/TerceraEq.webp" class="card-img-top img-fluid " alt="Imagen 1">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${piloto.nombre}">Nombre 1</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:text="${piloto.apellidos}">Atributo 2</li>
                            <li class="list-group-item" th:text="${piloto.dni}">Atributo 3</li>
                            <li class="list-group-item" th:text="${#numbers.formatDecimal(piloto.salario, 1, 2)+' €'}">
                                Atributo 3</li>
                            <li>
                                <a href="#" th:href="@{/pilotos/editar/{id}(id=${piloto.idEmpleado})}">Editar</a> |
                                <a href="#" th:href="@{/pilotos/borrar/{id}(id=${piloto.idEmpleado})}">Borrar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Botón para otra página -->
    <div class=" container text-center mt-4 boton2">
        <div class="row justify-content-center text-center">
            <div class="col">
                <button id="addPilotoButton" class="btn btn-primary btn-block boton"
                    th:action="${add}">Añadir un nuevo Piloto</button>
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="siguienteBtn" th:action="mecanicos">Siguiente
                página</button>
        </div>

        <footer th:replace="~{fragmentos/footer::footer}"></footer>
    </div>
</body>

</html>