<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../static/CSS/cerrarSesion.css" th:href="@{/CSS/cerrarSesion.css}">

    <title>menu</title>
</head>

<body>
    <nav th:fragment="menu" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../carrera.html"
                            sec:authorize="hasAnyRole('ROLE_JEFEEQUIPO', 'ROLE_PILOTO', 'ROLE_MECANICO')"
                            th:href="@{/main/carrera}">Carrera</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../coches.html"
                            sec:authorize="hasAnyRole('ROLE_JEFEEQUIPO', 'ROLE_MECANICO', 'ROLE_PILOTO')"
                            th:href="@{/main/coches}">Coches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pilotos.html"
                            sec:authorize="hasAnyRole('ROLE_JEFEEQUIPO', 'ROLE_PILOTO')"
                            th:href="@{/main/pilotos}">Pilotos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../mecanicos.html"
                            sec:authorize="hasAnyRole('ROLE_JEFEEQUIPO','ROLE_MECANICO')"
                            th:href="@{/main/mecanicos}">Mecánicos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../componentesComprar.html"
                            sec:authorize="hasAnyRole('ROLE_JEFEEQUIPO', 'ROLE_MECANICO')"
                            th:href="@{/componentes/comprarComponentes}">Repuestos para comprar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../presupuesto.html" sec:authorize="hasAnyRole('ROLE_JEFEEQUIPO')"
                            th:href="@{/admin/presupuesto/mostrarPresupuesto}">Presupuesto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../parteEstatica.html"
                            sec:authorize="hasAnyRole('ROLE_JEFEEQUIPO', 'ROLE_MECANICO', 'ROLE_PILOTO')"
                            th:href="@{/main/sobreNosotros}">Sobre Nosotros</a>
                    </li>
                    <li>
                        <a href="../carrera.html" th:href="@{/logout}">
                            <button class="Btn">

                                <div class="sign"><svg viewBox="0 0 512 512">
                                        <path
                                            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                                        </path>
                                    </svg></div>

                                <div class="text">Logout</div>
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">

                        <button sec:authentication="name">
                            <div class="arrow-wrapper">
                                <div class="arrow"></div>

                            </div>
                        </button>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>