<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <title>Document</title>
</head>

<body>
    <nav th:fragment="menu" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../carrera.html"
                            sec:authorize="hasAnyRole('ROLE_JEFEEQUIPO', 'ROLE_PILOTO', 'ROLE_MECANICO')"
                            th:href="@{/main/carrera}">Carrera</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../coches.html"
                            sec:authorize="hasAnyRole('ROLE_JEFEEQUIPO', 'ROLE_MECANICO', 'ROLE_PILOTO')"
                            th:href="@{/main/coches}">Coches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pilotos.html"
                            sec:authorize="hasAnyRole('ROLE_JEFEEQUIPO', 'ROLE_PILOTO')"
                            th:href="@{/main/pilotos}">Pilotos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../mecanicos.html"
                            sec:authorize="hasAnyRole('ROLE_JEFEEQUIPO','ROLE_MECANICO')"
                            th:href="@{/main/mecanicos}">Mecánicos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../componentes.html"
                            sec:authorize="hasAnyRole('ROLE_JEFEEQUIPO', 'ROLE_MECANICO')"
                            th:href="@{/main/componentes}">Repuestos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../presupuesto.html"
                            sec:authorize="hasAnyRole('ROLE_JEFEEQUIPO', 'ROLE_MECANICO')"
                            th:href="@{/admin/presupuesto/mostrarPresupuesto}">Presupuesto</a>
                    </li>
                    <li>
                        <form th:action="@{/logout}" method="get">
                            <button class="btn-group" type="submit">Cerrar Sesión</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>